# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment (VERY IMPORTANT)
.venv/
venv/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Build / dist
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/